<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CodexSwitcher</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.personal.codex-switcher</string>
    <key>CFBundleName</key>
    <string>CodexSwitcher</string>
    <key>CFBundleVersion</key>
    <string>1.11.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.11.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSUserNotificationsUsageDescription</key>
    <string>Hesap geçişlerini bildirmek için</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Terminal'de codex login çalıştırmak için</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/senoldogann/codex-switcher/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>7lqmueyvl3O06tlzS0bafDBXiWwB0fkyW0/xScLU/Fo=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
